/* Import Font */

@import url(https://fonts.googleapis.com/css?family=Young+Serif:regular);
@import url(https://fonts.googleapis.com/css?family=Outfit:100,200,300,regular,500,600,700,800,900);

/* Reset all margins and padding */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* To prevent motion sickness */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation: none;
    transition: none;
    scroll-behavior: auto;
  }
}

:root {
  --color-white: hsl(0, 0%, 100%);

  --color-stone-100: hsl(30, 54%, 90%);
  --color-stone-150: hsl(30, 18%, 87%);
  --color-stone-600: hsl(30, 10%, 34%);
  --color-stone-900: hsl(24, 5%, 18%);

  --color-brown-800: hsl(14, 45%, 36%);

  --color-rose-800: hsl(332, 51%, 32%);
  --color-rose-50: hsl(330, 100%, 98%);

  --fs-base: 1rem;

  --ff-young-serif: "Young Serif", serif;
  --ff-outfit: "Outfit", sans-serif;
}

body {
  font-family: var(--ff-outfit);
  font-size: var(--fs-base);
  background-color: var(--color-stone-100);
  min-height: 100vh;
  position: relative;
}

/* Main Container Outer */
.content-wrapper {
  width: min(100%, 43.75rem);
  margin: 0 auto;
  background-color: var(--color-white);
  border-radius: 1.25rem;
  padding: 0  3.125em 3.125em 3.125em;
}
/* Responsive padding*/
/* 700px */
@media (min-width: 43.75em) {
  .content-wrapper {
    padding-block-start: 3.125rem;
  }
  body {
    padding: 6.25rem 0;
  }
  .img-container img {
    border-radius: 1.25rem;
    margin-inline: 0;
  }
}

/* container inside */

/* Image */
.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: -3.125rem;
}

.img-container img {
  width: min(100%, 37.5rem);
}

/* TItle */
h1 {
  font-family: var(--ff-young-serif);
  font-size: clamp(calc(var(--fs-base) + 0.875rem), 2vh, 2rem);
  color: var(--color-stone-900);
  line-height: 100%;
  margin: 1.09375em 0;
}

h2 {
  color: var(--color-brown-800);
  margin: 1.09375em 0;
}

h4 {
  color: var(--color-rose-800);
  margin-block-end: 1.09375rem;
}
/* Descriptions */
p,
li {
  color: var(--color-stone-600);
  font-size: clamp(0.875rem, 2vw, var(--fs-base));
}

/* Prepation */
.prep-container {
  background-color: var(--color-rose-50);
  padding: 1.875rem;
  border-radius: 1.25rem;
  margin: 1.09375rem 0;
}

/* nutrition container */
.instructions-container,
.nutritions-container p {
  margin: 1.09375rem 0;
}

li {
  margin-inline-start: 1rem;
  padding-inline-start: 1rem;
}

.prep-container span.strong-text,
.instructions-container span.strong-text {
  font-weight: 700;
}

/* Ingredients */
.ingredients-container {
  margin-block-end: 1.09375rem;
}

/* table */
table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 100%;
}

td {
  padding: 1.25rem;
}

tr {
  border-block-end: 1px solid var(--color-stone-150);
}

tr:last-child {
  border-block-end: none;
}

tr td:first-child {
  color: var(--color-stone-600);
}

hr {
  color: var(--color-stone-150);
}

tr td:last-child {
  color: var(--color-brown-800);
}

/* Footer */
.attribution {
  font-size: clamp(0.625rem, 2vw, var(--fs-base));
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 1em 0;
  width: 100%;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
